*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    display:flex;
    background-color: antiquewhite;
}
.first{
    position:relative;
    height:40px;
    width:90px;
    border-radius:30px;
    background-color: rgb(240, 232, 186);
    padding:3px;
    margin-left:40%;
    margin-right:50%;
    margin-top:5%;
    margin-bottom:90%;
    
}
.form{
    
}